# Lesson 3: Connecting to a SQL Database

## Setup

In [1]:
## import os
from IPython.display import Markdown, HTML, display
from langchain.chat_models import AzureChatOpenAI
from langchain.agents import create_sql_agent
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.sql_database import SQLDatabase
from langchain_openai import AzureChatOpenAI
from langchain_groq import ChatGroq

## Recover the original dataset

**Note**: To access the data locally, use the following code:

```
os.makedirs("data",exist_ok=True)
!wget https://covidtracking.com/data/download/all-states-history.csv -P ./data/
file_url = "./data/all-states-history.csv"
df = pd.read_csv(file_url).fillna(value = 0)
```

In [2]:
ls

 Volume in drive D is Data
 Volume Serial Number is B8DC-02F7

 Directory of D:\AI_team\SQL_Groq

17-06-2024  23:10    <DIR>          .
17-06-2024  23:03    <DIR>          ..
17-06-2024  23:04    <DIR>          .ipynb_checkpoints
17-06-2024  22:36    <DIR>          __pycache__
17-06-2024  22:36             5,247 app.py
17-06-2024  21:04             5,144 app1.py
17-06-2024  23:10            36,643 L3_Connecting_to_a_SQL_Database.ipynb
17-06-2024  21:09             4,955 main.py
17-06-2024  22:57             3,955 main2.py
16-06-2024  12:10           170,878 PO.csv
16-06-2024  09:36             5,150 sql_agent.ipynb
17-06-2024  23:09           204,800 test.db
               8 File(s)        436,772 bytes
               4 Dir(s)  142,707,228,672 bytes free

In [3]:
from sqlalchemy import create_engine
import pandas as pd


df = pd.read_csv("PO.csv").fillna(value = 0)

## Move the data to the SQL database

In [4]:
# Path to your SQLite database file
database_file_path = "test.db"

# Create an engine to connect to the SQLite database
# SQLite only requires the path to the database file
engine = create_engine(f'sqlite:///{database_file_path}')
file_url = "PO.csv"
df = pd.read_csv(file_url).fillna(value = 0)
df.to_sql(
    'PO',
    con=engine,
    if_exists='replace',
    index=False
)

202

## Prepare the SQL prompt

In [5]:
MSSQL_AGENT_PREFIX = """

You are an agent designed to interact with a SQL database.
## Instructions:
- Given an input question, create a syntactically correct {dialect} query
to run, then look at the results of the query and return the answer.
- Unless the user specifies a specific number of examples they wish to
obtain, **ALWAYS** limit your query to at most {top_k} results.
- You can order the results by a relevant column to return the most
interesting examples in the database.
- Never query for all the columns from a specific table, only ask for
the relevant columns given the question.
- You have access to tools for interacting with the database.
- You MUST double check your query before executing it.If you get an error
while executing a query,rewrite the query and try again.
- DO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.)
to the database.
- DO NOT MAKE UP AN ANSWER OR USE PRIOR KNOWLEDGE, ONLY USE THE RESULTS
OF THE CALCULATIONS YOU HAVE DONE.
- Your response should be in Markdown. However, **when running  a SQL Query
in "Action Input", do not include the markdown backticks**.
Those are only for formatting the response, not for executing the command.
- ALWAYS, as part of your final answer, explain how you got to the answer
on a section that starts with: "Explanation:". Include the SQL query as
part of the explanation section.
- If the question does not seem related to the database, just return
"I don\'t know" as the answer.
- Only use the below tools. Only use the information returned by the
below tools to construct your query and final answer.
- Do not make up table names, only use the tables returned by any of the
tools below.

## Tools:

"""

In [6]:
MSSQL_AGENT_FORMAT_INSTRUCTIONS = """

## Use the following format:

Question: the input question you must answer.
Thought: you should always think about what to do.
Action: the action to take, should be one of [{tool_names}].
Action Input: the input to the action.
Observation: the result of the action.
... (this Thought/Action/Action Input/Observation can repeat N times)
Thought: I now know the final answer.
Final Answer: the final answer to the original input question.

Example of Final Answer:
<=== Beginning of example

Action: query_sql_db
Action Input: 
SELECT TOP (10) [death]
FROM covidtracking 
WHERE state = 'TX' AND date LIKE '2020%'

Observation:
[(27437.0,), (27088.0,), (26762.0,), (26521.0,), (26472.0,), (26421.0,), (26408.0,)]
Thought:I now know the final answer
Final Answer: There were 27437 people who died of covid in Texas in 2020.

Explanation:
I queried the `covidtracking` table for the `death` column where the state
is 'TX' and the date starts with '2020'. The query returned a list of tuples
with the number of deaths for each day in 2020. To answer the question,
I took the sum of all the deaths in the list, which is 27437.
I used the following query

```sql
SELECT [death] FROM covidtracking WHERE state = 'TX' AND date LIKE '2020%'"
```
===> End of Example

"""

## Call the Azure Chat model and create the SQL agent

**Note**: The pre-configured cloud resource grants you access to the Azure OpenAI GPT model. The key and endpoint provided below are intended for teaching purposes only. Your notebook environment is already set up with the necessary keys, which may differ from those used by the instructor during the filming.

In [7]:
"""llm = AzureChatOpenAI(
    openai_api_version="2023-05-15",
    azure_deployment="gpt-4-1106",
    azure_endpoint=os.getenv("AZURE_OPENAI_ENDPOINT"),
    temperature=0, 
    max_tokens=500
)"""

llm = ChatGroq(
      temperature=0, 
      groq_api_key = "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", 
      model_name="llama3-70b-8192"
        )

db = SQLDatabase.from_uri(f'sqlite:///{database_file_path}')
toolkit = SQLDatabaseToolkit(db=db, llm=llm)

In [ ]:
QUESTION = input("Qestion:?")

agent_executor_SQL = create_sql_agent(
    prefix=MSSQL_AGENT_PREFIX,
    format_instructions = MSSQL_AGENT_FORMAT_INSTRUCTIONS,
    llm=llm,
    toolkit=toolkit,
    top_k=30,
    verbose=True
)

agent_executor_SQL.invoke(QUESTION)

Qestion:? what is the spend in Event Management                                                                                      Explanation:\nI first listed the tables in the database using `sql_db_list_tables` and found the `PO` and `all_states_history` tables. Then, I used `sql_db_schema` to get the schema of these tables. I found that the `PO` table has a `Category` column and a `Subcategory` column, and I suspected that the correct category for Event Management is `'Management'` with `'Event Management'` as the `Subcategory`. I used `sql_db_query_checker` to check the query and then executed it using `sql_db_query` to get the sum of `TotalCost` for the records with the correct category and subcategory.

> Entering new AgentExecutor chain...
Thought: I need to find the spend in Event Management, but I don't know which table to query.

Action: sql_db_list_tables
Action Input: POAction: sql_db_schema
Action Input: PO
CREATE TABLE "PO" (
	"PONumber" TEXT,
	"Catalog ID" TEXT,
	"ItemID" TEXT,
	"Item Name" TEXT,
	"Form" TEXT,
	"When to use the form" TEXT,
	"Description" TEXT,
	"Specifications" TEXT,
	"Category" TEXT,
	"Subcategory" TEXT,
	"UserID" TEXT,
	"User Name" TEXT,
	"SupplierID" TEXT,
	"Country" TEXT,
	"Contact Number" TEXT,
	"Email" TEXT,
	"PurchaseDate" TEXT,
	"DeliveryDate" TEXT,
	"Quantity" BIGINT,
	"Unit Price" FLOAT,
	"TotalCost" FLOAT,
	"CostCenter" TEXT,
	"GLAccount" TEXT,
	"Currency" TEXT,
	"Budget Owner" TEXT,
	"Budget" BIGINT,
	"Budget Available" FLOAT,
	"Department" TEXT,
	"Role" TEXT,
	"Rating" FLOAT,
	"Avg Delivery Time (Days)" BIGINT,
	"Lead Time(hrs)" BIGINT,
	"Reliability Score" FLOAT,
	"Quarter" TEXT,
	"Spend Type" TEXT,
	"Supplier Name" TEXT,
	"Spend Compliance" TEXT,
	"Supervisor Approval(hrs)" FLOAT,
	"Buyer Approval(hrs)" BIGINT,
	"Finance Approval(hrs)" FLOAT,
	"Department Head Approval(hrs)" FLOAT
)

/*
3 rows from PO table:
PONumber	Catalog ID	ItemID	Item Name	Form	When to use the form	Description	Specifications	Category	Subcategory	UserID	User Name	SupplierID	Country	Contact Number	Email	PurchaseDate	DeliveryDate	Quantity	Unit Price	TotalCost	CostCenter	GLAccount	Currency	Budget Owner	Budget	Budget Available	Department	Role	Rating	Avg Delivery Time (Days)	Lead Time(hrs)	Reliability Score	Quarter	Spend Type	Supplier Name	Spend Compliance	Supervisor Approval(hrs)	Buyer Approval(hrs)	Finance Approval(hrs)	Department Head Approval(hrs)
PO1104	0	ME001	Marketing Event	Marketing Request Form	New product launch, Annual summit, Celebrity events, Social media campaigns	A Marketing Event is an organized effort to promote a company's products or services through an inte	Marketing Events can take various forms, including trade shows, conferences, webinars, product launc	Management	Event Management	U002	Alice	S003	UK	987-654-3210	alicesmith@example.com	2/20/2023	03-05-2023	40	500.0	20000.0	CC002	GL002	USD	Mark Brown	200000	180000.0	Marketing	Director	4.7	7	27	4.9	2023 Q1	Service	Innovative IT Ltd.	Yes	4.0	7	0.0	12.0
PO1105	0	ME001	Marketing Event	Marketing Request Form	New product launch, Annual summit, Celebrity events, Social media campaigns	A Marketing Event is an organized effort to promote a company's products or services through an inte	Marketing Events can take various forms, including trade shows, conferences, webinars, product launc	Management	Event Management	U002	Bob	S004	India	987-654-3210	alicesmith@example.com	2/20/2023	03-05-2023	40	500.0	20000.0	CC002	GL002	USD	Mark Brown	200000	180000.0	Marketing	Director	4.7	7	24	4.9	2023 Q1	Service	Data Dynamics Corp.	Yes	3.0	6	0.0	10.0
PO1106	0	ME001	Marketing Event	Marketing Request Form	New product launch, Annual summit, Celebrity events, Social media campaigns	A Marketing Event is an organized effort to promote a company's products or services through an inte	Marketing Events can take various forms, including trade shows, conferences, webinars, product launc	Management	Event Management	U002	Emma	S004	India	987-654-3210	alicesmith@example.com	2/20/2023	03-05-2023	40	500.0	20000.0	CC002	GL002	USD	Mark Brown	200000	180000.0	Marketing	Director	4.7	7	25	4.9	2023 Q1	Service	Data Dynamics Corp.	Yes	3.0	7	0.0	10.0
*/Action: sql_db_query_checker
Action Input: SELECT SUM(TotalCost) FROM PO WHERE Category = 'Management' AND Subcategory = 'Event Management'SELECT SUM(TotalCost) FROM PO WHERE Category = 'Management' AND Subcategory = 'Event Management'Action: sql_db_query
Action Input: SELECT SUM(TotalCost) FROM PO WHERE Category = 'Management' AND Subcategory = 'Event Management'[(800000.0,)]

In [9]:
QUESTION = input("Qestion:?")

agent_executor_SQL = create_sql_agent(
    prefix=MSSQL_AGENT_PREFIX,
    format_instructions = MSSQL_AGENT_FORMAT_INSTRUCTIONS,
    llm=llm,
    toolkit=toolkit,
    top_k=30,
    verbose=True
)

agent_executor_SQL.invoke(QUESTION)

Qestion:? can give me a break up of top 5 suppliers & total PO spend of each supplier

> Entering new AgentExecutor chain...
Thought: I need to know the tables and columns available in the database to answer this question.

Action: sql_db_list_tables
Action Input: PO, all_states_historyAction: sql_db_schema
Action Input: PO, all_states_history
CREATE TABLE "PO" (
	"PONumber" TEXT,
	"Catalog ID" TEXT,
	"ItemID" TEXT,
	"Item Name" TEXT,
	"Form" TEXT,
	"When to use the form" TEXT,
	"Description" TEXT,
	"Specifications" TEXT,
	"Category" TEXT,
	"Subcategory" TEXT,
	"UserID" TEXT,
	"User Name" TEXT,
	"SupplierID" TEXT,
	"Country" TEXT,
	"Contact Number" TEXT,
	"Email" TEXT,
	"PurchaseDate" TEXT,
	"DeliveryDate" TEXT,
	"Quantity" BIGINT,
	"Unit Price" FLOAT,
	"TotalCost" FLOAT,
	"CostCenter" TEXT,
	"GLAccount" TEXT,
	"Currency" TEXT,
	"Budget Owner" TEXT,
	"Budget" BIGINT,
	"Budget Available" FLOAT,
	"Department" TEXT,
	"Role" TEXT,
	"Rating" FLOAT,
	"Avg Delivery Time (Days)" BIGINT,
	"Lead Time(hrs)" BIGINT,
	"Reliability Score" FLOAT,
	"Quarter" TEXT,
	"Spend Type" TEXT,
	"Supplier Name" TEXT,
	"Spend Compliance" TEXT,
	"Supervisor Approval(hrs)" FLOAT,
	"Buyer Approval(hrs)" BIGINT,
	"Finance Approval(hrs)" FLOAT,
	"Department Head Approval(hrs)" FLOAT
)

/*
3 rows from PO table:
PONumber	Catalog ID	ItemID	Item Name	Form	When to use the form	Description	Specifications	Category	Subcategory	UserID	User Name	SupplierID	Country	Contact Number	Email	PurchaseDate	DeliveryDate	Quantity	Unit Price	TotalCost	CostCenter	GLAccount	Currency	Budget Owner	Budget	Budget Available	Department	Role	Rating	Avg Delivery Time (Days)	Lead Time(hrs)	Reliability Score	Quarter	Spend Type	Supplier Name	Spend Compliance	Supervisor Approval(hrs)	Buyer Approval(hrs)	Finance Approval(hrs)	Department Head Approval(hrs)
PO1104	0	ME001	Marketing Event	Marketing Request Form	New product launch, Annual summit, Celebrity events, Social media campaigns	A Marketing Event is an organized effort to promote a company's products or services through an inte	Marketing Events can take various forms, including trade shows, conferences, webinars, product launc	Management	Event Management	U002	Alice	S003	UK	987-654-3210	alicesmith@example.com	2/20/2023	03-05-2023	40	500.0	20000.0	CC002	GL002	USD	Mark Brown	200000	180000.0	Marketing	Director	4.7	7	27	4.9	2023 Q1	Service	Innovative IT Ltd.	Yes	4.0	7	0.0	12.0
PO1105	0	ME001	Marketing Event	Marketing Request Form	New product launch, Annual summit, Celebrity events, Social media campaigns	A Marketing Event is an organized effort to promote a company's products or services through an inte	Marketing Events can take various forms, including trade shows, conferences, webinars, product launc	Management	Event Management	U002	Bob	S004	India	987-654-3210	alicesmith@example.com	2/20/2023	03-05-2023	40	500.0	20000.0	CC002	GL002	USD	Mark Brown	200000	180000.0	Marketing	Director	4.7	7	24	4.9	2023 Q1	Service	Data Dynamics Corp.	Yes	3.0	6	0.0	10.0
PO1106	0	ME001	Marketing Event	Marketing Request Form	New product launch, Annual summit, Celebrity events, Social media campaigns	A Marketing Event is an organized effort to promote a company's products or services through an inte	Marketing Events can take various forms, including trade shows, conferences, webinars, product launc	Management	Event Management	U002	Emma	S004	India	987-654-3210	alicesmith@example.com	2/20/2023	03-05-2023	40	500.0	20000.0	CC002	GL002	USD	Mark Brown	200000	180000.0	Marketing	Director	4.7	7	25	4.9	2023 Q1	Service	Data Dynamics Corp.	Yes	3.0	7	0.0	10.0
*/


CREATE TABLE all_states_history (
	"PONumber" TEXT,
	"Catalog ID" TEXT,
	"ItemID" TEXT,
	"Item Name" TEXT,
	"Form" TEXT,
	"When to use the form" TEXT,
	"Description" TEXT,
	"Specifications" TEXT,
	"Category" TEXT,
	"Subcategory" TEXT,
	"UserID" TEXT,
	"User Name" TEXT,
	"SupplierID" TEXT,
	"Country" TEXT,
	"Contact Number" TEXT,
	"Email" TEXT,
	"PurchaseDate" TEXT,
	"DeliveryDate" TEXT,
	"Quantity" BIGINT,
	"Unit Price" FLOAT,
	"TotalCost" FLOAT,
	"CostCenter" TEXT,
	"GLAccount" TEXT,
	"Currency" TEXT,
	"Budget Owner" TEXT,
	"Budget" BIGINT,
	"Budget Available" FLOAT,
	"Department" TEXT,
	"Role" TEXT,
	"Rating" FLOAT,
	"Avg Delivery Time (Days)" BIGINT,
	"Lead Time(hrs)" BIGINT,
	"Reliability Score" FLOAT,
	"Quarter" TEXT,
	"Spend Type" TEXT,
	"Supplier Name" TEXT,
	"Spend Compliance" TEXT,
	"Supervisor Approval(hrs)" FLOAT,
	"Buyer Approval(hrs)" BIGINT,
	"Finance Approval(hrs)" FLOAT,
	"Department Head Approval(hrs)" FLOAT
)

/*
3 rows from all_states_history table:
PONumber	Catalog ID	ItemID	Item Name	Form	When to use the form	Description	Specifications	Category	Subcategory	UserID	User Name	SupplierID	Country	Contact Number	Email	PurchaseDate	DeliveryDate	Quantity	Unit Price	TotalCost	CostCenter	GLAccount	Currency	Budget Owner	Budget	Budget Available	Department	Role	Rating	Avg Delivery Time (Days)	Lead Time(hrs)	Reliability Score	Quarter	Spend Type	Supplier Name	Spend Compliance	Supervisor Approval(hrs)	Buyer Approval(hrs)	Finance Approval(hrs)	Department Head Approval(hrs)
PO1104	0	ME001	Marketing Event	Marketing Request Form	New product launch, Annual summit, Celebrity events, Social media campaigns	A Marketing Event is an organized effort to promote a company's products or services through an inte	Marketing Events can take various forms, including trade shows, conferences, webinars, product launc	Management	Event Management	U002	Alice	S003	UK	987-654-3210	alicesmith@example.com	2/20/2023	03-05-2023	40	500.0	20000.0	CC002	GL002	USD	Mark Brown	200000	180000.0	Marketing	Director	4.7	7	27	4.9	2023 Q1	Service	Innovative IT Ltd.	Yes	4.0	7	0.0	12.0
PO1105	0	ME001	Marketing Event	Marketing Request Form	New product launch, Annual summit, Celebrity events, Social media campaigns	A Marketing Event is an organized effort to promote a company's products or services through an inte	Marketing Events can take various forms, including trade shows, conferences, webinars, product launc	Management	Event Management	U002	Bob	S004	India	987-654-3210	alicesmith@example.com	2/20/2023	03-05-2023	40	500.0	20000.0	CC002	GL002	USD	Mark Brown	200000	180000.0	Marketing	Director	4.7	7	24	4.9	2023 Q1	Service	Data Dynamics Corp.	Yes	3.0	6	0.0	10.0
PO1106	0	ME001	Marketing Event	Marketing Request Form	New product launch, Annual summit, Celebrity events, Social media campaigns	A Marketing Event is an organized effort to promote a company's products or services through an inte	Marketing Events can take various forms, including trade shows, conferences, webinars, product launc	Management	Event Management	U002	Emma	S004	India	987-654-3210	alicesmith@example.com	2/20/2023	03-05-2023	40	500.0	20000.0	CC002	GL002	USD	Mark Brown	200000	180000.0	Marketing	Director	4.7	7	25	4.9	2023 Q1	Service	Data Dynamics Corp.	Yes	3.0	7	0.0	10.0
*/I understand that I need to provide a breakdown of the top 5 suppliers and their total PO spend.

Action: sql_db_query_checker
Action Input:
SELECT SupplierName, SUM(TotalCost) as TotalSpend
FROM PO
GROUP BY SupplierName
ORDER BY TotalSpend DESC
LIMIT 5
The original query appears to be correct and does not contain any of the common mistakes listed. Here is the final SQL query:

```
SELECT SupplierName, SUM(TotalCost) as TotalSpend
FROM PO
GROUP BY SupplierName
ORDER BY TotalSpend DESC
LIMIT 5
```Action: sql_db_query
Action Input:
SELECT SupplierName, SUM(TotalCost) as TotalSpend
FROM PO
GROUP BY SupplierName
ORDER BY TotalSpend DESC
LIMIT 5
Error: (sqlite3.OperationalError) no such column: SupplierName
[SQL: SELECT SupplierName, SUM(TotalCost) as TotalSpend
FROM PO
GROUP BY SupplierName
ORDER BY TotalSpend DESC
LIMIT 5
]
(Background on this error at: https://sqlalche.me/e/20/e3q8)It looks like the column name is actually "Supplier Name" with a space, not "SupplierName". Let me try again.

Action: sql_db_query
Action Input:
SELECT "Supplier Name", SUM(TotalCost) as TotalSpend
FROM PO
GROUP BY "Supplier Name"
ORDER BY TotalSpend DESC
LIMIT 5
[('FutureTech Enterprises', 350000.0), ('Data Dynamics Corp.', 316000.0), ('Global Services Co.', 196000.0), ('Tech Solutions Inc.', 173000.0), ('Innovative IT Ltd.', 169000.0)]I now know the final answer.

Final Answer: The top 5 suppliers and their total PO spend are:
1. FutureTech Enterprises - 350000.0
2. Data Dynamics Corp. - 316000.0
3. Global Services Co. - 196000.0
4. Tech Solutions Inc. - 173000.0
5. Innovative IT Ltd. - 169000.0

> Finished chain.

{'input': 'can give me a break up of top 5 suppliers & total PO spend of each supplier',
 'output': 'The top 5 suppliers and their total PO spend are: \n1. FutureTech Enterprises - 350000.0\n2. Data Dynamics Corp. - 316000.0\n3. Global Services Co. - 196000.0\n4. Tech Solutions Inc. - 173000.0\n5. Innovative IT Ltd. - 169000.0'}

In [10]:
QUESTION = input("Qestion:?")

agent_executor_SQL = create_sql_agent(
    prefix=MSSQL_AGENT_PREFIX,
    format_instructions = MSSQL_AGENT_FORMAT_INSTRUCTIONS,
    llm=llm,
    toolkit=toolkit,
    top_k=30,
    verbose=True
)

agent_executor_SQL.invoke(QUESTION)

Qestion:? Which supplier is highly rated?

> Entering new AgentExecutor chain...
Thought: I need to know the table names in the database to start with.

Action: sql_db_list_tables
Action Input: PO, all_states_historyAction: sql_db_schema
Action Input: PO, all_states_history
CREATE TABLE "PO" (
	"PONumber" TEXT,
	"Catalog ID" TEXT,
	"ItemID" TEXT,
	"Item Name" TEXT,
	"Form" TEXT,
	"When to use the form" TEXT,
	"Description" TEXT,
	"Specifications" TEXT,
	"Category" TEXT,
	"Subcategory" TEXT,
	"UserID" TEXT,
	"User Name" TEXT,
	"SupplierID" TEXT,
	"Country" TEXT,
	"Contact Number" TEXT,
	"Email" TEXT,
	"PurchaseDate" TEXT,
	"DeliveryDate" TEXT,
	"Quantity" BIGINT,
	"Unit Price" FLOAT,
	"TotalCost" FLOAT,
	"CostCenter" TEXT,
	"GLAccount" TEXT,
	"Currency" TEXT,
	"Budget Owner" TEXT,
	"Budget" BIGINT,
	"Budget Available" FLOAT,
	"Department" TEXT,
	"Role" TEXT,
	"Rating" FLOAT,
	"Avg Delivery Time (Days)" BIGINT,
	"Lead Time(hrs)" BIGINT,
	"Reliability Score" FLOAT,
	"Quarter" TEXT,
	"Spend Type" TEXT,
	"Supplier Name" TEXT,
	"Spend Compliance" TEXT,
	"Supervisor Approval(hrs)" FLOAT,
	"Buyer Approval(hrs)" BIGINT,
	"Finance Approval(hrs)" FLOAT,
	"Department Head Approval(hrs)" FLOAT
)

/*
3 rows from PO table:
PONumber	Catalog ID	ItemID	Item Name	Form	When to use the form	Description	Specifications	Category	Subcategory	UserID	User Name	SupplierID	Country	Contact Number	Email	PurchaseDate	DeliveryDate	Quantity	Unit Price	TotalCost	CostCenter	GLAccount	Currency	Budget Owner	Budget	Budget Available	Department	Role	Rating	Avg Delivery Time (Days)	Lead Time(hrs)	Reliability Score	Quarter	Spend Type	Supplier Name	Spend Compliance	Supervisor Approval(hrs)	Buyer Approval(hrs)	Finance Approval(hrs)	Department Head Approval(hrs)
PO1104	0	ME001	Marketing Event	Marketing Request Form	New product launch, Annual summit, Celebrity events, Social media campaigns	A Marketing Event is an organized effort to promote a company's products or services through an inte	Marketing Events can take various forms, including trade shows, conferences, webinars, product launc	Management	Event Management	U002	Alice	S003	UK	987-654-3210	alicesmith@example.com	2/20/2023	03-05-2023	40	500.0	20000.0	CC002	GL002	USD	Mark Brown	200000	180000.0	Marketing	Director	4.7	7	27	4.9	2023 Q1	Service	Innovative IT Ltd.	Yes	4.0	7	0.0	12.0
PO1105	0	ME001	Marketing Event	Marketing Request Form	New product launch, Annual summit, Celebrity events, Social media campaigns	A Marketing Event is an organized effort to promote a company's products or services through an inte	Marketing Events can take various forms, including trade shows, conferences, webinars, product launc	Management	Event Management	U002	Bob	S004	India	987-654-3210	alicesmith@example.com	2/20/2023	03-05-2023	40	500.0	20000.0	CC002	GL002	USD	Mark Brown	200000	180000.0	Marketing	Director	4.7	7	24	4.9	2023 Q1	Service	Data Dynamics Corp.	Yes	3.0	6	0.0	10.0
PO1106	0	ME001	Marketing Event	Marketing Request Form	New product launch, Annual summit, Celebrity events, Social media campaigns	A Marketing Event is an organized effort to promote a company's products or services through an inte	Marketing Events can take various forms, including trade shows, conferences, webinars, product launc	Management	Event Management	U002	Emma	S004	India	987-654-3210	alicesmith@example.com	2/20/2023	03-05-2023	40	500.0	20000.0	CC002	GL002	USD	Mark Brown	200000	180000.0	Marketing	Director	4.7	7	25	4.9	2023 Q1	Service	Data Dynamics Corp.	Yes	3.0	7	0.0	10.0
*/


CREATE TABLE all_states_history (
	"PONumber" TEXT,
	"Catalog ID" TEXT,
	"ItemID" TEXT,
	"Item Name" TEXT,
	"Form" TEXT,
	"When to use the form" TEXT,
	"Description" TEXT,
	"Specifications" TEXT,
	"Category" TEXT,
	"Subcategory" TEXT,
	"UserID" TEXT,
	"User Name" TEXT,
	"SupplierID" TEXT,
	"Country" TEXT,
	"Contact Number" TEXT,
	"Email" TEXT,
	"PurchaseDate" TEXT,
	"DeliveryDate" TEXT,
	"Quantity" BIGINT,
	"Unit Price" FLOAT,
	"TotalCost" FLOAT,
	"CostCenter" TEXT,
	"GLAccount" TEXT,
	"Currency" TEXT,
	"Budget Owner" TEXT,
	"Budget" BIGINT,
	"Budget Available" FLOAT,
	"Department" TEXT,
	"Role" TEXT,
	"Rating" FLOAT,
	"Avg Delivery Time (Days)" BIGINT,
	"Lead Time(hrs)" BIGINT,
	"Reliability Score" FLOAT,
	"Quarter" TEXT,
	"Spend Type" TEXT,
	"Supplier Name" TEXT,
	"Spend Compliance" TEXT,
	"Supervisor Approval(hrs)" FLOAT,
	"Buyer Approval(hrs)" BIGINT,
	"Finance Approval(hrs)" FLOAT,
	"Department Head Approval(hrs)" FLOAT
)

/*
3 rows from all_states_history table:
PONumber	Catalog ID	ItemID	Item Name	Form	When to use the form	Description	Specifications	Category	Subcategory	UserID	User Name	SupplierID	Country	Contact Number	Email	PurchaseDate	DeliveryDate	Quantity	Unit Price	TotalCost	CostCenter	GLAccount	Currency	Budget Owner	Budget	Budget Available	Department	Role	Rating	Avg Delivery Time (Days)	Lead Time(hrs)	Reliability Score	Quarter	Spend Type	Supplier Name	Spend Compliance	Supervisor Approval(hrs)	Buyer Approval(hrs)	Finance Approval(hrs)	Department Head Approval(hrs)
PO1104	0	ME001	Marketing Event	Marketing Request Form	New product launch, Annual summit, Celebrity events, Social media campaigns	A Marketing Event is an organized effort to promote a company's products or services through an inte	Marketing Events can take various forms, including trade shows, conferences, webinars, product launc	Management	Event Management	U002	Alice	S003	UK	987-654-3210	alicesmith@example.com	2/20/2023	03-05-2023	40	500.0	20000.0	CC002	GL002	USD	Mark Brown	200000	180000.0	Marketing	Director	4.7	7	27	4.9	2023 Q1	Service	Innovative IT Ltd.	Yes	4.0	7	0.0	12.0
PO1105	0	ME001	Marketing Event	Marketing Request Form	New product launch, Annual summit, Celebrity events, Social media campaigns	A Marketing Event is an organized effort to promote a company's products or services through an inte	Marketing Events can take various forms, including trade shows, conferences, webinars, product launc	Management	Event Management	U002	Bob	S004	India	987-654-3210	alicesmith@example.com	2/20/2023	03-05-2023	40	500.0	20000.0	CC002	GL002	USD	Mark Brown	200000	180000.0	Marketing	Director	4.7	7	24	4.9	2023 Q1	Service	Data Dynamics Corp.	Yes	3.0	6	0.0	10.0
PO1106	0	ME001	Marketing Event	Marketing Request Form	New product launch, Annual summit, Celebrity events, Social media campaigns	A Marketing Event is an organized effort to promote a company's products or services through an inte	Marketing Events can take various forms, including trade shows, conferences, webinars, product launc	Management	Event Management	U002	Emma	S004	India	987-654-3210	alicesmith@example.com	2/20/2023	03-05-2023	40	500.0	20000.0	CC002	GL002	USD	Mark Brown	200000	180000.0	Marketing	Director	4.7	7	25	4.9	2023 Q1	Service	Data Dynamics Corp.	Yes	3.0	7	0.0	10.0
*/Thought: I need to find the supplier with the highest rating.

Action: sql_db_query_checker
Action Input:
SELECT SupplierName, AVG(Rating) as AverageRating
FROM PO
GROUP BY SupplierName
ORDER BY AverageRating DESC
The original query looks good, but I'll reproduce it for you:

```
SELECT SupplierName, AVG(Rating) as AverageRating
FROM PO
GROUP BY SupplierName
ORDER BY AverageRating DESC
```Action: sql_db_query
Action Input:
SELECT SupplierName, AVG(Rating) as AverageRating
FROM PO
GROUP BY SupplierName
ORDER BY AverageRating DESC
Error: (sqlite3.OperationalError) no such column: SupplierName
[SQL: SELECT SupplierName, AVG(Rating) as AverageRating
FROM PO
GROUP BY SupplierName
ORDER BY AverageRating DESC
]
(Background on this error at: https://sqlalche.me/e/20/e3q8)It looks like I made a mistake!

Action: sql_db_query_checker
Action Input:
SELECT "Supplier Name", AVG("Rating") as AverageRating
FROM PO
GROUP BY "Supplier Name"
ORDER BY AverageRating DESC
The original query looks good, and I didn't find any of the common mistakes mentioned. Here is the final SQL query:

```
SELECT "Supplier Name", AVG("Rating") as AverageRating
FROM PO
GROUP BY "Supplier Name"
ORDER BY AverageRating DESC
```Action: sql_db_query
Action Input:
SELECT "Supplier Name", AVG("Rating") as AverageRating
FROM PO
GROUP BY "Supplier Name"
ORDER BY AverageRating DESC
[('Martinez, Gordon and Allen', 4.81), ('Walters-Baldwin', 4.79), ('Aperam SA', 4.76), ('Walters-Roberts', 4.75), ('Sanders-Callahan', 4.69), ('Watkins and Sons', 4.68), ('Allegheny Technologies Inc', 4.68), ('Tata Steel Ltd', 4.63), ('Johnson and Sons', 4.63), ('FutureTech Enterprises', 4.611538461538461), ('Tech Solutions Inc.', 4.6), ('Global Services Co.', 4.593333333333333), ('Data Dynamics Corp.', 4.564), ('Innovative IT Ltd.', 4.46190476190476), ('Baosteel Group', 4.28), ('Acerinox SA', 4.23), ('Martinez Inc', 4.2), ('Moore-Williams', 4.11), ('JFE Holdings Inc', 4.03), ('Gregory Ltd', 3.9799999999999995), ('ArcelorMittal', 3.9200000000000004), ('Posco', 3.82), ('Nippon Steel Corporation', 3.63), ('Andrews-Ferguson', 3.5699999999999994), ('Jindal Stainless Ltd', 3.31), ('Adams, Martinez and Olson', 3.3), ('Outokumpu Oyj', 3.2700000000000005), ('Stone, Roberts and Peterson', 3.25), ('Anderson, Schultz and Cook', 3.18), ('ThyssenKrupp AG', 3.0800000000000005), ('Steel Dynamics Inc', 3.0), ('Carpenter Technology Corp', 2.89), ('Klein-Morse', 2.61), ('Thompson-Lopez', 2.57), ('Higgins-Rivera', 2.17), ('Voestalpine AG', 2.06)]I now know the final answer.

Final Answer: The highly rated supplier is Martinez, Gordon and Allen with an average rating of 4.81.

> Finished chain.

{'input': 'Which supplier is highly rated?',
 'output': 'The highly rated supplier is Martinez, Gordon and Allen with an average rating of 4.81.'}